
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
  <script type="text/javascript">
var app= angular.module('myapp',[]);

app.controller('calc',['$scope',function($scope){
              $scope.Math=Math;
              

              $scope.Calculate=function(){
                if($scope.oper=="add"){
                $scope.c=parseInt($scope.a)  + parseInt($scope.b); 
                }
               	if($scope.oper=="sub"){
                $scope.c=parseInt($scope.a) - parseInt($scope.b); 
                }
                if($scope.oper=="mul"){
                	$scope.c=parseInt($scope.a)  * parseInt($scope.b); 
                }
                if($scope.oper=="div"){
                $scope.c=parseInt($scope.a)  / parseInt($scope.b); 
                }
                if($scope.oper=="sin"){
                $scope.c=Math.sin(parseInt($scope.a)); 
                }

                if($scope.oper=="cos"){
                $scope.c=Math.cos(parseInt($scope.a)); 
                }
              }

}]);


</script>
</head>
<body ng-app="myapp">
<div ng-controller="calc">
  Number 1  <input type="text" ng-model="a"></br>
  Number 2  <input type="text" ng-model="b"></br>
  
      <h3>Result:-<span>{{c}}</span></h3></br>
      Pick a Operation:
  <input type="radio" ng-model="oper" value="add">Addition
  <input type="radio" ng-model="oper" value="sub">Substraction
  <input type="radio" ng-model="oper" value="mul">Multiplication
  <input type="radio" ng-model="oper" value="div">Division
  <input type="radio" ng-model="oper" value="sin">Sin
  <input type="radio" ng-model="oper" value="cos">Cos
</br>

      <button ng-click="Calculate()">Calculate</button>
</div>
  
    
</body>
</html>